{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/wamp64/www/PHP/2-symfony/adopte-un-chien/src/Controller/HomeController.php'|file_link(0) }}">src/Controller/HomeController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/wamp64/www/PHP/2-symfony/adopte-un-chien/templates/home/index.html.twig'|file_link(0) }}">templates/home/index.html.twig</a></code></li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem laboriosam, exercitationem impedit quis temporibus amet quas? Culpa fuga iusto dolorem reprehenderit id labore, nobis dolorum, sequi minus veniam quas doloremque?
    Placeat, aliquam? Corporis ea iure numquam obcaecati nihil harum quae quaerat. Voluptatem, reiciendis fugit suscipit tenetur ipsa exercitationem fugiat reprehenderit impedit distinctio cupiditate eaque. Rerum, perspiciatis mollitia. Magnam, molestias quo?
    Distinctio delectus fugiat voluptatum quo est enim qui suscipit? Similique doloremque ullam at eos repellendus, error necessitatibus quis non obcaecati molestias officia vel dolores id accusantium quo vero quisquam quidem.
    Exercitationem aliquid maxime, voluptate optio minus illum voluptates expedita reiciendis cupiditate! Dolorem vero unde itaque voluptate nobis est dolore et nihil beatae impedit cupiditate minima sit quam, accusantium aperiam dolor.
    Atque, culpa? A excepturi amet ipsa ut illum dolore eius tempore, praesentium quae dolorum, itaque perferendis saepe accusamus ipsum! Totam recusandae molestias eligendi aspernatur esse, qui quia libero iure maxime!
    Magnam ipsam eos illum magni perferendis? Expedita cupiditate, ipsam rerum recusandae beatae soluta laudantium praesentium labore. Magni, tempora necessitatibus fuga, et sit odit doloribus quisquam repellat, doloremque dicta impedit vitae.
    Praesentium harum, at velit odit amet hic quaerat, voluptas rerum dicta quas aut totam. Libero, fuga sit. Totam, beatae fugit dignissimos repudiandae velit ut accusamus. Quas dolor sed cum libero?
    Sapiente ab voluptas veritatis repellat explicabo aut corporis reiciendis, quos a tenetur eaque possimus dolor hic at est culpa ipsum beatae aliquid accusamus inventore odit. Officia optio nulla harum maxime.
    Vero soluta, adipisci mollitia at doloribus dolores error, est consequuntur natus cupiditate odit eius qui aliquid numquam aut ab cum iusto nihil suscipit explicabo alias quia? Commodi officia vel repudiandae.
    Fugiat beatae, voluptatum molestiae ipsa quo asperiores soluta enim minus architecto omnis qui quis amet ea id quae excepturi neque facere error. Esse officiis sequi incidunt praesentium vel perspiciatis nobis?</p>
</div>
{% endblock %}
