{% extends 'base.html.twig' %}

{% block title %}Accueil | Adopte un chien{% endblock %}

{% block body %}
    <h2>Nos dernières annonces</h2>
    <section>
        <article class="card container paddingReset">
            <div class="row">
                <div class="d-flex flex-row">
                    {# Carousel
                        id à changer pour chaque annonce
                     #}
                    <div id="dogSlider" class="carousel slide col-3" data-bs-ride="carousel">
                        <div class="carousel-inner w-100 h-100">
                            <div class="carousel-item active w-100 h-100" data-bs-interval="10000">
                                <div class="bgImageAdDog w-100 h-100" style="background-image: url('https://geo.img.pmdstatic.net/fit/http.3A.2F.2Fprd2-bone-image.2Es3-website-eu-west-1.2Eamazonaws.2Ecom.2Fgeo.2F2019.2F10.2F28.2Fc9c8ea2c-9750-4039-97c1-ce9f592f4ef4.2Ejpeg/1150x647/background-color/ffffff/quality/70/des-chiens-renifleurs-decouvrent-des-sepultures-vieilles-de-3000-ans-en-croatie.jpg')">
                                </div>
                            </div>
                            <div class="carousel-item w-100 h-100" data-bs-interval="20000">
                                <div class="bgImageAdDog w-100 h-100" style="background-image: url('https://geo.img.pmdstatic.net/fit/http.3A.2F.2Fprd2-bone-image.2Es3-website-eu-west-1.2Eamazonaws.2Ecom.2Fgeo.2F2019.2F10.2F28.2Fc9c8ea2c-9750-4039-97c1-ce9f592f4ef4.2Ejpeg/1150x647/background-color/ffffff/quality/70/des-chiens-renifleurs-decouvrent-des-sepultures-vieilles-de-3000-ans-en-croatie.jpg')">
                                </div>
                            </div>
                            <div class="carousel-item w-100 h-100">
                                <div class="bgImageAdDog w-100 h-100" style="background-image: url('https://geo.img.pmdstatic.net/fit/http.3A.2F.2Fprd2-bone-image.2Es3-website-eu-west-1.2Eamazonaws.2Ecom.2Fgeo.2F2019.2F10.2F28.2Fc9c8ea2c-9750-4039-97c1-ce9f592f4ef4.2Ejpeg/1150x647/background-color/ffffff/quality/70/des-chiens-renifleurs-decouvrent-des-sepultures-vieilles-de-3000-ans-en-croatie.jpg')">
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#dogSlider" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#dogSlider" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    {# Fin Carousel #}
                    <div class="card-body d-flex flex-column justify-content-between">
                        <h4 class="card-title text-center">Beau chien-chien</h4>
                        <i>Chiens à la recherche d'une famille : <strong>3</strong></i>
                        <i>Riri : Labrador / Fifi : Berger allemand / Loulou : Bouvier</i>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, facere! Vel ad quaerat tempore labore aperiam officiis a architecto soluta culpa quidem. Sequi totam dolorem non necessitatibus nam animi soluta!</p>
                        <div><a href="#" class="btn buttonYellow">Voir l'annonce</a></div>
                    </div>
                </div>
            </div>
        </article>
    </section>

    <section id="advertisers">
        <h2>Nos refuges partenaires</h2>
        <div class="container">
            <div class="row justify-content-around">
                <a href="" class='d-flex justify-content-around flex-column d-inline-block col-4 advertisersCard'>
                    <h6>SPA de Lyon</h6>
                    <i>Nombres d'annonces: 23</i>
                    <i>Chiens adoptés: 124</i>
                </a>
                <a href="" class='d-flex justify-content-around flex-column d-inline-block col-4 advertisersCard'>
                    <h6>SPA de Lyon</h6>
                    <i>Nombres d'annonces: 23</i>
                    <i>Chiens adoptés: 124</i>
                </a>
                <a href="" class='d-flex justify-content-around flex-column d-inline-block col-4 advertisersCard'>
                    <h6>SPA de Lyon</h6>
                    <i>Nombres d'annonces: 23</i>
                    <i>Chiens adoptés: 124</i>
                </a>
                <a href="" class='d-flex justify-content-around flex-column d-inline-block col-4 advertisersCard'>
                    <h6>SPA de Lyon</h6>
                    <i>Nombres d'annonces: 23</i>
                    <i>Chiens adoptés: 124</i>
                </a>
                <a href="" class='d-flex justify-content-around flex-column d-inline-block col-4 advertisersCard'>
                    <h6>SPA de Lyon</h6>
                    <i>Nombres d'annonces: 23</i>
                    <i>Chiens adoptés: 124</i>
                </a>
                <a href="" class='d-flex justify-content-around flex-column d-inline-block col-4 advertisersCard'>
                    <h6>SPA de Lyon</h6>
                    <i>Nombres d'annonces: 23</i>
                    <i>Chiens adoptés: 124</i>
                </a>
                <a href="" class='d-flex justify-content-around flex-column d-inline-block col-4 advertisersCard'>
                    <h6>SPA de Lyon</h6>
                    <i>Nombres d'annonces: 23</i>
                    <i>Chiens adoptés: 124</i>
                </a>
            </div>
        </div>
    </section>

{% endblock %}
