{% extends 'base.html.twig' %}

{% block title %}Modification annonce{% endblock %}

{% block body %}
    <h1>Modifier votre annonce</h1>

    {{ include('advertisement/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('advertisement_announcer', {'id': advertisement.announcer.id}) }}">Retour à mes annonces</a>

    {{ include('advertisement/_delete_form.html.twig') }}
{% endblock %}
