{% extends 'base.html.twig' %}

{% block title %}New Advertisement{% endblock %}

{% block body %}
    <div class="widthForm">
        <h1>Ajouter une annonce</h1>
        {{ include('advertisement/_form.html.twig') }}
    </div>

    <a href="{{ path('advertisement_index') }}">back to list</a>
{% endblock %}
