{% extends 'base.html.twig' %}

{% block title %}New Advertisement{% endblock %}

{% block body %}
    <div class="widthForm">
        <h1>Ajouter une annonce</h1>
        <a href="{{ path('picture_new') }}" class="btn buttonPurple">Ajouter des photos</a>
        {{ include('advertisement/_form.html.twig') }}
    </div>

    <a href="{{ path('advertisement_index') }}">back to list</a>
{% endblock %}
