{% extends 'base.html.twig' %}

{% block title %}Faq index{% endblock %}

{% block body %}
    <h1>FAQ</h1>

    {% for faq in faqs %}
        <div class="faq" >
            <p class="questions">
                <a data-bs-toggle="collapse" href="#collapse{{faq.id}}" role="button" aria-expanded="false" aria-controls="collapseExample">
                    {{ faq.subject }} | <strong>V</strong>
                </a>
            </p>
            <div class="collapse responses" id="collapse{{faq.id}}">
                <div class="card card-body">
                    {{ faq.response }}    
                </div>
            </div>
        </div>
    {% else %}
            <p>Il n'y a pas de FAQ pour le moment</p>
    {% endfor %}

    

{% endblock %}
